Repository asrayg/CyDine: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, auto-deploy, android-test

maven-build:
  stage: mavenbuild
  tags:
  - springboot_tag
  script:
  - cd Backend
  - mvn package
  artifacts:
    paths:
    - Backend/target/*.jar

maven-test:
  stage: maventest
  tags:
  - springboot_tag
  script:
  - cd Backend
  - mvn test

auto-deploy:
  stage: mavendeploy
  tags:
  - springboot_tag
  script:
  - cd Backend
  - sudo mv target/*.jar /target/web-demo.jar
  - sudo systemctl stop system-web-demo
  - sudo systemctl start system-web-demo

android-test:
  image: afirefly/android-ci:java17
  stage: androidtest
  tags:
  - main_frontend
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/CyDine_Front/gradlew
  script:
  - cd Frontend/CyDine_Front
  - ./gradlew test

Upload New File
  Documents/Coverage_Reports.html
Due: none

tests
  Backend/Test Results - ArjunSystemTest.html
  Backend/src/main/java/CyDine/MealPlans/MealPlans.java
  Backend/src/main/java/CyDine/Users/User.java
  Backend/src/test/java/CyDine/ArjunSystemTest.java
  Backend/testing/src/main/java/myapp/Controller/StringController.java
  Backend/testing/src/main/java/myapp/Model/StringEntity.java
  Backend/testing/src/main/java/myapp/Model/StringRepo.java
  Backend/testing/src/main/java/myapp/Service/CapitalizeService.java
  Backend/testing/src/main/java/myapp/Service/ReverseStringService.java
  Backend/testing/src/main/java/myapp/TestingApplication.java
  Backend/testing/src/main/resources/application.properties
  Backend/testing/src/test/application-logging-test.properties
  Backend/testing/src/test/java/myapp/TestingCServiceUnit.java
  Backend/testing/src/test/java/myapp/TestingControllerIntegration.java
  Backend/testing/src/test/java/myapp/TestingControllerTotalIntegration.java
  Backend/testing/src/test/java/myapp/TestingControllerUnit.java
  Backend/testing/src/test/java/myapp/TestingRServiceUnit.java
  Backend/testing/src/test/java/myapp/TestingSystemTest.java
  Backend/testing/src/test/resources/logback-test.xml
Due: maven-build, maven-test, auto-deploy

fix
  Backend/Test Results - ArjunSystemTest.html
  Backend/src/test/java/CyDine/ArjunSystemTest.java
Due: maven-build, maven-test, auto-deploy

extra file
  Backend/Test Results - ArjunSystemTest.html
Due: maven-build, maven-test, auto-deploy

Sleep Done
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/SleepActivity.java
  Frontend/CyDine_Front/app/src/main/res/layout/activity_sleep.xml
  Frontend/CyDine_Front/app/src/main/res/layout/sleep_entry_card.xml
Due: android-test

Sleep Done- Issue with Delete and Update though?
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/SleepActivity.java
  Frontend/CyDine_Front/app/src/main/res/layout/activity_sleep.xml
  Frontend/CyDine_Front/app/src/main/res/layout/sleep_entry_card.xml
Due: android-test

Weight Done - Delete and Update Dont work quite yet?
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/WeightActivity.java
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/WeightGraphView.java
  Frontend/CyDine_Front/app/src/main/res/layout/activity_weight.xml
  Frontend/CyDine_Front/app/src/main/res/layout/weight_entry_card.xml
Due: android-test

Everything in Project
  .DS_Store
  Backend/.DS_Store
  Backend/src/.DS_Store
  Backend/src/main/.DS_Store
  Backend/src/main/java/.DS_Store
  Backend/src/main/java/CyDine/.DS_Store
  Backend/src/main/java/CyDine/Scraper/Scraper.java
Due: maven-build, maven-test, auto-deploy

Removed sensitive data
  Backend/htmlReport/ns-c/sources/source-1.html
Due: maven-build, maven-test, auto-deploy

Delete .DS_Store
  .DS_Store
Due: none

Delete Backend/.DS_Store
  Backend/.DS_Store
Due: maven-build, maven-test, auto-deploy

Update README.md
  README.md
Due: none

Path conditions:
  maven-build: any of: Backend/**/*
  maven-test: any of: Backend/**/*
  auto-deploy: any of: Backend/**/*
  android-test: any of: Frontend/**/*
