Repository asrayg/CyDine: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, auto-deploy, android-test

.gitlab-ci.yml:

stages:              # these stages (jobs) form the CICD pipeline
  - mavenbuild       # Job to build the Spring Boot application
  - maventest        # Job to run tests on the Spring Boot application
  - mavendeploy      # Job to deploy the Spring Boot application to the server
  - androidbuild     # Job to build the Android application
  - androidtest      # Job to run tests for the Android application

maven-build:         
  stage: mavenbuild  # Stage for building the Spring Boot app
  tags:             
    - springboot_tag   # Runner tag for backend jobs
  script:             
    - cd Backend     # Navigate to the backend directory where the pom.xml is located
    - mvn package    # Run Maven to package the Spring Boot application
  artifacts:         
    paths:
      - Backend/target/*.jar # Path to the packaged JAR file
  only:
    refs:
      - main         # Trigger the pipeline only when changes are pushed to 'main' branch
    changes:
      - Backend/**/* # Trigger when changes are made inside the Backend folder

maven-test:          
  stage: maventest    # Stage for running tests on the Spring Boot app
  tags:             
    - springboot_tag   # Runner tag for backend jobs
  script:
    - cd Backend     # Navigate to the backend directory where the pom.xml is located
    - mvn test       # Run Maven tests
  only:
    refs:
      - main         # Trigger the pipeline only when changes are pushed to 'main' branch
    changes:
      - Backend/**/* # Trigger when changes are made inside the Backend folder

auto-deploy:         
  stage: mavendeploy  # Stage for deploying the Spring Boot app
  tags:             
    - springboot_tag   # Runner tag for backend jobs
  script:
    - cd Backend     # Navigate to the backend directory where the pom.xml is located
    - sudo mv target/*.jar /target/web-demo.jar 
    - sudo systemctl stop system-web-demo
    - sudo systemctl start system-web-demo # Restarting the service
  only:
    refs:
      - main         # Trigger the pipeline only when changes are pushed to 'main' branch
    changes:
      - Backend/**/* # Trigger when changes are made inside the Backend folder

android-build:
  image: afirefly/android-ci:java17
  stage: androidbuild
  tags:                
    - main_frontend
  before_script:       
    - export GRADLE_USER_HOME=`pwd`/.gradle
    - cd Frontend/CyDine_Front
    - gradle wrapper --gradle-version 8.0
    - chmod +x ./gradlew
    - ls -la gradle/wrapper
  script:
    - ./gradlew build --stacktrace --info

android-test:        
  image: afirefly/android-ci:java17
  stage: androidtest
  tags:                
    - main_frontend
  before_script:       
    - export GRADLE_USER_HOME=`pwd`/.gradle
    - chmod +x ./Frontend/CyDine_Front/gradlew
  script:
    - cd Frontend/CyDine_Front
    - ./gradlew test
  only:
    refs:
      - main
    changes:
      - Frontend/**/*

s
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/FeedActivity.java
Due: android-test

Mini Experiement
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/FoodMenuActivity.java
Due: android-test

Mini Assignment
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/FoodMenuActivity.java
Due: android-test

Revert "Merge branch 'ASRAY_CICD' into 'main'"
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/FoodMenuActivity.java
Due: android-test

Mini Assignment Task 1
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/FoodMenuActivity.java
Due: android-test

Mini Assignment Asray Main
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/FeedActivity.java
Due: android-test

Mini Assignment Test 1
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/FeedActivity.java
Due: android-test

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

fixed the xml layout file for meditation
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.bin
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.bin
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
  Frontend/CyDine_Front/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  Frontend/CyDine_Front/.gradle/buildOutputCleanup/outputFiles.bin
  Frontend/CyDine_Front/.gradle/file-system.probe
  Frontend/CyDine_Front/app/src/main/AndroidManifest.xml
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/HomeScreenActivity.java
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/MeditationActivity.java
  Frontend/CyDine_Front/app/src/main/res/drawable/circular_progress.xml
  Frontend/CyDine_Front/app/src/main/res/layout/activity_meditation.xml
  Frontend/CyDine_Front/app/src/main/res/menu/menu_drawer.xml
Due: android-test

implemented the meditation timer logic
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.bin
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.bin
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
  Frontend/CyDine_Front/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/MeditationActivity.java
  Frontend/CyDine_Front/app/src/main/res/layout/activity_meditation.xml
Due: android-test

added recording sessions for meditation
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.bin
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.bin
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
  Frontend/CyDine_Front/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  Frontend/CyDine_Front/.gradle/file-system.probe
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/MeditationActivity.java
  Frontend/CyDine_Front/app/src/main/res/layout/activity_meditation.xml
Due: android-test

changes made
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.lock
  Frontend/CyDine_Front/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Due: android-test

debug
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.bin
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.bin
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
  Frontend/CyDine_Front/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Due: android-test

Weight tracking backend finished
  Backend/src/main/java/CyDine/Weight/WeightController.java
  Backend/src/main/java/CyDine/Weight/WeightEntry.java
  Backend/src/main/java/CyDine/Weight/WeightRepository.java
Due: maven-build, maven-test, auto-deploy

some changes for the layout file
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.bin
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.bin
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
  Frontend/CyDine_Front/.gradle/8.9/checksums/checksums.lock
  Frontend/CyDine_Front/.gradle/8.9/checksums/md5-checksums.bin
  Frontend/CyDine_Front/.gradle/8.9/checksums/sha1-checksums.bin
  Frontend/CyDine_Front/.gradle/8.9/dependencies-accessors/gc.properties
  Frontend/CyDine_Front/.gradle/8.9/executionHistory/executionHistory.bin
  Frontend/CyDine_Front/.gradle/8.9/executionHistory/executionHistory.lock
  Frontend/CyDine_Front/.gradle/8.9/fileChanges/last-build.bin
  Frontend/CyDine_Front/.gradle/8.9/fileHashes/fileHashes.bin
  Frontend/CyDine_Front/.gradle/8.9/fileHashes/fileHashes.lock
  Frontend/CyDine_Front/.gradle/8.9/fileHashes/resourceHashesCache.bin
  Frontend/CyDine_Front/.gradle/8.9/gc.properties
  Frontend/CyDine_Front/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  Frontend/CyDine_Front/.gradle/file-system.probe
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/FeedActivity.java
  Frontend/CyDine_Front/app/src/main/res/layout/activity_feed.xml
  Frontend/CyDine_Front/app/src/main/res/layout/image_card.xml
Due: android-test

added logic for liking and commenting
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.bin
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.bin
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
  Frontend/CyDine_Front/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  Frontend/CyDine_Front/.gradle/file-system.probe
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/FeedActivity.java
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/ImageAdapter.java
  Frontend/CyDine_Front/app/src/main/res/layout/image_card.xml
Due: android-test

Sleep Tracking Backend Finished
  Backend/src/main/java/CyDine/SleepTracking/SleepController.java
  Backend/src/main/java/CyDine/SleepTracking/SleepEntry.java
  Backend/src/main/java/CyDine/SleepTracking/SleepRepository.java
Due: maven-build, maven-test, auto-deploy

Cleaning up
  Backend/src/main/java/CyDine/SleepTracking/SleepEntry.java
Due: maven-build, maven-test, auto-deploy

Adding Testing Dependencies
  Frontend/CyDine_Front/.gradle/8.10.2/checksums/checksums.lock
  Frontend/CyDine_Front/.gradle/8.10.2/checksums/sha1-checksums.bin
Due: android-test

Dependencies
  Frontend/CyDine_Front/app/build.gradle
Due: android-test

More of dependencies
  Frontend/CyDine_Front/.gradle/8.10.2/checksums/checksums.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.bin
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.lock
Due: android-test

changes made to gradle
  Frontend/CyDine_Front/.gradle/8.10.2/checksums/checksums.lock
  Frontend/CyDine_Front/.gradle/8.10.2/checksums/md5-checksums.bin
  Frontend/CyDine_Front/.gradle/8.10.2/checksums/sha1-checksums.bin
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.bin
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.bin
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
  Frontend/CyDine_Front/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  Frontend/CyDine_Front/.gradle/buildOutputCleanup/outputFiles.bin
  Frontend/CyDine_Front/.gradle/file-system.probe
  Frontend/CyDine_Front/app/build.gradle
Due: android-test

added testing folders
  Frontend/FragmentTest/app/src/androidTest/java/com/example/myapplication/SystemTest.java
  Frontend/IntentTest/app/src/androidTest/java/com/example/intenttest/SystemTest.java
  Frontend/NavigationTest/app/src/androidTest/java/com/example/navigationtest/SystemTest.java
  Frontend/Testing/app/androidTest/java/com/cs309/testing/SystemTest.java
Due: android-test

fixing issues
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.lock
  Frontend/CyDine_Front/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  Frontend/FragmentTest/app/src/androidTest/java/com/example/myapplication/SystemTest.java
  Frontend/IntentTest/app/src/androidTest/java/com/example/intenttest/SystemTest.java
  Frontend/NavigationTest/app/src/androidTest/java/com/example/navigationtest/SystemTest.java
  Frontend/Testing/app/androidTest/java/com/cs309/testing/SystemTest.java
Due: android-test

AkhilSystemTestsSetUp
  Backend/pom.xml
  Backend/src/test/application-logging-test.properties
  Backend/src/test/java/CyDine/AkhilSystemTest.java
  Backend/src/test/resources/logback-test.xml
  Backend/testing/src/main/java/myapp/Controller/StringController.java
  Backend/testing/src/main/java/myapp/Model/StringEntity.java
  Backend/testing/src/main/java/myapp/Model/StringRepo.java
  Backend/testing/src/main/java/myapp/Service/CapitalizeService.java
  Backend/testing/src/main/java/myapp/Service/ReverseStringService.java
  Backend/testing/src/main/java/myapp/TestingApplication.java
  Backend/testing/src/main/resources/application.properties
  Backend/testing/src/test/application-logging-test.properties
  Backend/testing/src/test/java/myapp/TestingCServiceUnit.java
  Backend/testing/src/test/java/myapp/TestingControllerIntegration.java
  Backend/testing/src/test/java/myapp/TestingControllerTotalIntegration.java
  Backend/testing/src/test/java/myapp/TestingControllerUnit.java
  Backend/testing/src/test/java/myapp/TestingRServiceUnit.java
  Backend/testing/src/test/java/myapp/TestingSystemTest.java
  Backend/testing/src/test/resources/logback-test.xml
Due: maven-build, maven-test, auto-deploy

Delete and Put for Sleep
  Backend/src/main/java/CyDine/SleepTracking/SleepController.java
Due: maven-build, maven-test, auto-deploy

Add and Delete to weight
  Backend/src/main/java/CyDine/Weight/WeightController.java
Due: maven-build, maven-test, auto-deploy

some tweaks on feed
  Frontend/CyDine_Front/.gradle/8.10.2/checksums/checksums.lock
  Frontend/CyDine_Front/.gradle/8.10.2/checksums/md5-checksums.bin
  Frontend/CyDine_Front/.gradle/8.10.2/checksums/sha1-checksums.bin
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.bin
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.lock
  Frontend/CyDine_Front/.gradle/8.10.2/expanded/expanded.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.bin
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
  Frontend/CyDine_Front/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  Frontend/CyDine_Front/.gradle/buildOutputCleanup/outputFiles.bin
  Frontend/CyDine_Front/.gradle/file-system.probe
  Frontend/CyDine_Front/app/build.gradle
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/FeedActivity.java
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/ImageAdapter.java
Due: android-test

I think its fully done
  Backend/pom.xml
  Backend/src/main/java/CyDine/DiningHall/DiningHallController.java
  Backend/src/main/java/CyDine/DiningHallMealPlan/DiningHallMealPlan.java
  Backend/src/main/java/CyDine/DiningHallMealPlan/DiningHallMealPlanController.java
  Backend/src/main/java/CyDine/Scraper/Scraper.java
Due: maven-build, maven-test, auto-deploy

almost done
  Backend/src/main/java/CyDine/Meditation/Meditation.java
  Backend/src/main/java/CyDine/Meditation/MeditationController.java
  Backend/src/main/java/CyDine/Meditation/MeditationRepository.java
Due: maven-build, maven-test, auto-deploy

done
  Backend/src/main/java/CyDine/Meditation/MeditationController.java
Due: maven-build, maven-test, auto-deploy

new key, im watching you.
  Backend/src/main/java/CyDine/Scraper/Scraper.java
Due: maven-build, maven-test, auto-deploy

got removed somewhere
  Backend/src/main/java/CyDine/Users/UserController.java
Due: maven-build, maven-test, auto-deploy

food menu and meditation done
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.bin
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.bin
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/fileHashes.lock
  Frontend/CyDine_Front/.gradle/8.10.2/fileHashes/resourceHashesCache.bin
  Frontend/CyDine_Front/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  Frontend/CyDine_Front/.gradle/file-system.probe
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/FeedActivity.java
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/FoodMenuActivity.java
  Frontend/CyDine_Front/app/src/main/java/com/example/androidexample/MeditationActivity.java
Due: android-test

mini assignment testing
  Frontend/CyDine_Front/.gradle/8.10.2/executionHistory/executionHistory.lock
  Frontend/CyDine_Front/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  Frontend/CyDine_Front/app/src/main/java/com.cs309.testing/SystemTest.java
Due: android-test
